body {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
}

h1 {
  font-size: 25px;
}

.fire {
  color: #c52424;
  display: inline;
}

.water {
  color: #1b51ba;
  display: inline;
}

.grass {
  color: #24844f;
  display: inline;
}

.poisen {
  color: #8c257b;
  display: inline;
}
