body {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
}

h1 {
  color: #333;
  font-size: 40px;
  margin-left: 20px;
}

/* belongs to: function addListItem(pokemon) */
ul {
  list-style-type: none;
  padding: 0;
  margin: 0 20px;
}

.pokemon-button {
  background-color: #fff;
  border: none;
  border-radius: 10px;
  box-shadow: 0 3px 5px #333;
  font-family: inherit;
  font-size: inherit;
  padding: 20px;
  margin-bottom: 20px;
  text-align: left;
  width: 100%;
}

.pokemon-button:hover {
  background: #333;
  color: #fff;
}

/* belongs to: function getTextColor(pokemonType) */
.fire {
  color: #c52424;
  display: inline;
}

.water {
  color: #1b51ba;
  display: inline;
}

.grass {
  color: #24844f;
  display: inline;
}

.poisen {
  color: #8c257b;
  display: inline;
}
